body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(180deg, hsla(246, 88%, 64%, 0.775), rgba(68, 65, 247, 0.534), rgba(57, 57, 247, 0.534));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.music-player {
    background: linear-gradient(180deg, rgba(14, 207, 255, 0.435), rgba(14, 207, 255, 0.572), rgba(8, 219, 238, 0.169));
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%;
    max-width: 400px;
    height: 600px;
    display: inline-block;
}

.controls {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding-top: 20px;
}

.controls button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 12px 18px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.controls button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

.controls button:focus {
    outline: none;
}

.current-song {
    margin-top: 200px;
    font-size: 18px;
    font-weight: bold;
    color: #f5da0e;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% {
        text-indent: 100%;
    }
    100% {
        text-indent: -100%;
    }
}

.progress-container {
    background: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    cursor: pointer;
    height: 10px;
    width: 100%;
}

.progress-bar {
    height: 100%;
    width: 0;
    background: orange;
    border-radius: 10px;
    transition: width 0.1s linear;
}

@media (max-width: 500px) {
    .music-player {
        padding: 20px;
    }

    .controls button {
        padding: 10px 14px;
        font-size: 14px;
    }

    .current-song {
        font-size: 16px;
    }

    .progress-container {
        height: 8px;
    }
}

.current-song {
    font-size: 1.7rem;
    color: #02080d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    animation: rotate 10s linear infinite;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 100px;
    width: 200px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.like{
    background-color: red;
}